.modelthree{
    border: solid;
    border-color: rgb(20, 20, 20);
    padding: 5px;
}
.modeltwo{
    border: solid;
    border-color: chartreuse;
    padding: 90px 20px 5px 20px;
}
.modelone{
    border: solid;
    border-color: cornflowerblue;
    padding:20px 5px 20px 90px ;
}




